<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="changjoopark.com.flutter_foreground_plugin">
<uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
</manifest>
